Workflows/RAG-1.json
{
  "name": "RAG-1",
  "nodes": [
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "model",
              "value": "nomic-embed-text"
            },
            {
              "name": "prompt",
              "value": "={{$json.content}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Embed Chunks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        688,
        -96
      ],
      "id": "be49478c-1abc-4f90-9c8c-9c0f4c2658f3"
    },
    {
      "parameters": {
        "path": "chat",
        "options": {}
      },
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -32,
        304
      ],
      "id": "610f24b1-60c5-4228-ac3a-2122b3e1fae6",
      "webhookId": "7cbe0275-755b-4d3d-aff6-ba4714e836ba"
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/embeddings",
        "jsonParameters": true,
        "options": {}
      },
      "name": "Embed Question",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        176,
        304
      ],
      "id": "bc83cd6a-c670-41e3-ad64-349ed60b2da9"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "name": "Search Vectors",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        368,
        304
      ],
      "id": "f219ebd5-c88d-48c4-922c-997c8fdafd9b",
      "credentials": {
        "postgres": {
          "id": "kXGR6vTXvvRbQoG1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const context = items.map(i => i.json.content).join(\"\\n\\n\");\nreturn [{ json: { context, question: $node[\"Chat Webhook\"].json.question } }];"
      },
      "name": "Build Context",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        576,
        304
      ],
      "id": "17e37e6d-430e-449e-87a8-1601273d9ee9"
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/generate",
        "jsonParameters": true,
        "options": {}
      },
      "name": "LLM Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        768,
        304
      ],
      "id": "30c904e6-8c5c-4db8-8675-cb8bf02925fb"
    },
    {
      "parameters": {
        "content": "TESTE CHAT",
        "height": 464,
        "width": 1232
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        112
      ],
      "id": "2c922d27-a767-4e1e-a243-40d5fcc4d849",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "RAG\n",
        "height": 96,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -368,
        -304
      ],
      "id": "8c208483-6d47-4b28-b2e1-312811fbbfe2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload",
        "options": {
          "binaryPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        -208
      ],
      "id": "cac84ff7-774e-4fc9-968b-f98e77b80e06",
      "name": "Webhook",
      "webhookId": "16fb9e87-5ec1-4dde-8012-5e809c1c9712"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        128,
        -208
      ],
      "id": "33a76b3d-e4f1-4eef-9608-b10fb920e444",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.text;\n\nconst chunkSize = 800;\nconst overlap = 150;\n\nconst chunks = [];\nlet start = 0;\n\nwhile (start < text.length) {\n  chunks.push({\n    content: text.slice(start, start + chunkSize),\n  });\n  start += chunkSize - overlap;\n}\n\nreturn chunks.map(c => ({ json: c }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -208
      ],
      "id": "7fa49a14-075e-4f99-bf15-ac4843b38fc3",
      "name": "JavaScript(CHUCK TEXT)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3197b0e1-c970-47ef-8ab2-78090b83d50f",
              "name": "text",
              "value": "={{$json.text.replace(/\\s+/g, ' ').trim()}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -208
      ],
      "id": "9e952534-8f7c-4ba3-be9a-47cbf267206a",
      "name": "SET ADN NORMALIZE \"TEXT\" VARIABLE"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        864,
        -272
      ],
      "id": "a30a935a-7d06-48f7-9280-66ad73c2b942",
      "name": "Merge"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.content }}",
            "embedding": "={{ $json.embedding }}",
            "source": "\"manual\""
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "embedding",
              "displayName": "embedding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1072,
        -272
      ],
      "id": "5e8a0aa0-dddf-4eb4-9a12-badd4f7e742c",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "kXGR6vTXvvRbQoG1",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Embed Chunks": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Embed Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Question": {
      "main": [
        [
          {
            "node": "Search Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Vectors": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "LLM Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "SET ADN NORMALIZE \"TEXT\" VARIABLE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JavaScript(CHUCK TEXT)": {
      "main": [
        [
          {
            "node": "Embed Chunks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET ADN NORMALIZE \"TEXT\" VARIABLE": {
      "main": [
        [
          {
            "node": "JavaScript(CHUCK TEXT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2873c66f-2e87-4704-8053-3949c9ced657",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "44084b1f82b560f1147992b0436d0fcd6bd85199061b6a28ba06d42cc06ea5c8"
  },
  "id": "WlVL1HkCwmvtzu5z",
  "tags": []
}