Workflows/rag_pgvector.json
{
  "name": "rag_pgvector",
  "nodes": [
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "model",
              "value": "nomic-embed-text"
            },
            {
              "name": "prompt",
              "value": "={{$json.content}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Embed Chunks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        752,
        -208
      ],
      "id": "be49478c-1abc-4f90-9c8c-9c0f4c2658f3"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "model",
              "value": "nomic-embed-text"
            },
            {
              "name": "prompt",
              "value": "={{ $json.chatQuestion }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Embed Question",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        176,
        304
      ],
      "id": "bc83cd6a-c670-41e3-ad64-349ed60b2da9"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT content, embedding <=> $1 AS distance\nFROM documents\nORDER BY distance\nLIMIT 5;\n",
        "additionalFields": {
          "queryParams": "={{ '[' + $json.embedding.join(',') + ']' }}"
        }
      },
      "name": "Search Vectors",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        368,
        304
      ],
      "id": "f219ebd5-c88d-48c4-922c-997c8fdafd9b",
      "credentials": {
        "postgres": {
          "id": "kXGR6vTXvvRbQoG1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const docs = items.map(item => item.json.content);\n\nreturn [{\n  json: {\n    context: docs.join('\\n\\n---\\n\\n')\n  }\n}];\n"
      },
      "name": "Build Context",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        576,
        304
      ],
      "id": "17e37e6d-430e-449e-87a8-1601273d9ee9"
    },
    {
      "parameters": {
        "content": "TESTE CHAT",
        "height": 240,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        112
      ],
      "id": "2c922d27-a767-4e1e-a243-40d5fcc4d849",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "RAG - PGVECTOR\n\n",
        "height": 352,
        "width": 1648,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -368,
        -304
      ],
      "id": "8c208483-6d47-4b28-b2e1-312811fbbfe2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload",
        "options": {
          "binaryPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        -208
      ],
      "id": "cac84ff7-774e-4fc9-968b-f98e77b80e06",
      "name": "Webhook",
      "webhookId": "16fb9e87-5ec1-4dde-8012-5e809c1c9712"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        128,
        -208
      ],
      "id": "33a76b3d-e4f1-4eef-9608-b10fb920e444",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.text;\n\nconst chunkSize = 800;\nconst overlap = 150;\n\nconst chunks = [];\nlet start = 0;\n\nwhile (start < text.length) {\n  chunks.push({\n    content: text.slice(start, start + chunkSize),\n  });\n  start += chunkSize - overlap;\n}\n\nreturn chunks.map(c => ({ json: c }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -208
      ],
      "id": "7fa49a14-075e-4f99-bf15-ac4843b38fc3",
      "name": "JavaScript(CHUCK TEXT)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3197b0e1-c970-47ef-8ab2-78090b83d50f",
              "name": "text",
              "value": "={{$json.text.replace(/\\s+/g, ' ').trim()}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -208
      ],
      "id": "9e952534-8f7c-4ba3-be9a-47cbf267206a",
      "name": "SET ADN NORMALIZE \"TEXT\" VARIABLE"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $('JavaScript(CHUCK TEXT)').item.json.content }}",
            "embedding": "={{ $json.embedding }}",
            "source": "\"manual\""
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "embedding",
              "displayName": "embedding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        976,
        -208
      ],
      "id": "5e8a0aa0-dddf-4eb4-9a12-badd4f7e742c",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "kXGR6vTXvvRbQoG1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -64,
        304
      ],
      "id": "a2500dcf-ba95-46c5-b0c0-8dccbe79b8d2",
      "name": "When chat message received",
      "webhookId": "6fd50790-cdd1-48fe-84ac-2f49bf86fcd2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ef56353-ec3b-4900-8dcb-64c9c453a816",
              "name": "promptChat",
              "value": "=Você é um assistente especializado.\n\nUse o CONTEXTO abaixo para responder à PERGUNTA.\nSe o contexto tiver informações relevantes, responda de forma objetiva.\nSe não houver relação clara, diga exatamente:\n\"Não encontrei essa informação no contexto fornecido.\"\n\nCONTEXTO:\n{{ $json.context }}\n\nPERGUNTA:\n{{ $node[\"When chat message received\"].json.chatInput }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        304
      ],
      "id": "5a38dc74-74fd-4d08-96c4-0145c39f9cc8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3"
            },
            {
              "name": "prompt",
              "value": "={{ $json.promptChat }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        992,
        304
      ],
      "id": "e95e1e8d-1e07-4c38-b785-bd01ac84b26a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.data;\n\n// Garantia\nif (typeof raw !== 'string') {\n  return [{ json: { answer: raw?.response ?? '' } }];\n}\n\n// Quebra por linha\nconst lines = raw.split('\\n').filter(l => l.trim());\n\n// Junta todas as respostas\nlet fullAnswer = '';\n\nfor (const line of lines) {\n  try {\n    const obj = JSON.parse(line);\n    if (obj.response) {\n      fullAnswer += obj.response;\n    }\n  } catch (e) {\n    // ignora linhas inválidas\n  }\n}\n\nreturn [\n  {\n    json: {\n      answer: fullAnswer.trim()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        304
      ],
      "id": "3cafde57-b435-48e5-b3a1-544962728270",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Embed Chunks": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Question": {
      "main": [
        [
          {
            "node": "Search Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Vectors": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "SET ADN NORMALIZE \"TEXT\" VARIABLE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JavaScript(CHUCK TEXT)": {
      "main": [
        [
          {
            "node": "Embed Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET ADN NORMALIZE \"TEXT\" VARIABLE": {
      "main": [
        [
          {
            "node": "JavaScript(CHUCK TEXT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Embed Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "61be8764-5bfc-4996-a5fb-0b271db5f4f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "44084b1f82b560f1147992b0436d0fcd6bd85199061b6a28ba06d42cc06ea5c8"
  },
  "id": "WlVL1HkCwmvtzu5z",
  "tags": []
}